html, body {
    width: 100%;
    /* height: 100%; */
}

article {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main {
    background-color: #f0f0ee;
    border-radius: 50%;
    border: #c7e7d0 solid 1em;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: 5% auto;
    padding: 5%;
    flex-grow: 1;
    aspect-ratio: 1;
}

header, main, footer {
    flex-shrink: 0;
}

body {
    margin: 0% auto;
    /* max-width: 95%; */
    line-height: 1.6;
    font-family: 'Catalina_Typewriter_Light', 'Cutive Mono', monospace;
    font-size: 1.6em;
    background-color: #92c8a6;
    color: #ce474d;
    /* padding: 0 10px; */
    text-align: center;
}
a {
    color: #ce474d;
}
h1,h2,h3 {
    font-family: 'Catalina_Typewriter_Light', 'Cutive Mono', monospace;
    font-size: 2.2em;
    line-height: 1.2;
}
h1 {
    font-size: 5.4em;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
}
h1 > a {
    color: #58b191;
    text-decoration: none;
}
h2 {
    font-size: 1.0em;
    line-height: 1.6;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 0;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 5% 0;
}
footer {
    font-size: 12px;
}
#opening {
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 0.8em;
        line-height: 1;
    }
    h2 {
        line-height: 0.5;
    }
    main {
        margin: 2% auto;
        padding: 12%;
    }
}

/*!
 * Web Fonts from Fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at https://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2022 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Kimmy Design
 * License URL: https://www.fontspring.com/licenses/kimmy-design/webfont
 *
 *
 */
@font-face {
    font-family: 'Catalina_Typewriter_Light';
    src: url('../assets/fonts/Catalina_Typewriter_Light-webfont.woff2') format('woff2'),
         url('../assets/fonts/Catalina_Typewriter_Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
