<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
  <!-- <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Life+Savers:wght@400;700&display=swap" rel="stylesheet"> -->
  <link rel="stylesheet" type="text/css" href="{{ site.path }}/css/style.css" >
  <title>{{ site.title }} - {{ page.title }}</title>
</head>
<body>
  <article>
    <main>
      {{ content }}
    </main>
    <footer>
        <a href="https://facebook.com/ogato.coffee">
            <img src="{{ site.path }}/assets/images/Facebook_logo.svg">
        </a>
        <a href="https://instagram.com/ogatocoffee">
            <img src="{{ site.path }}/assets/images/Instagram_logo.svg">
        </a>
    </footer>
  </article>
</body>
</html>
